{% extends "base.html" %}
{% block content %}
<h1>Add a Blog Entry</h1>
<form method="post">
    <table>
        <tr>
        <label>
            <td>Title for your new blog:</td>
            <td><input name="title" type="text"></td>
        </label>
        </tr>
        <tr><td></td><td><p class="error">{{ title_error }}</p></td></tr>
        <tr>
        <label>
            <td>Your new blog:</td>
            <td><textarea name="body"></textarea></td>
        </label>
        </tr>
        <tr><td></td><td><p class="error">{{ body_error }}</p></td></tr>
        
    </table>
    <input type="submit" value="Add Entry">
</form>
{% endblock %}